$cubic-bezier: cubic-bezier(.2,.3,.25,.9);
$black: #000;
$gold: #DAA25A;

body {
  font-family: 'Abril Fatface', sans-serif;
}

.container {
  display: flex;
  width: 100%;
  flex: 1;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.btn {
  text-align: center;
  display: inline-block;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 1.4;
  text-decoration: none;
  letter-spacing: 4px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: ease-in-out .2s;
  color: $black;
  padding: 25px 20px 12px;
  position: relative;

  &::before, &::after {
    box-sizing: border-box;
  }

  span {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 100;
  }
  


  &:hover {
    color: $gold;
  }
  
  &:active {
    margin-top: 4px;
  }

  // Draw animation
  &--draw {
  transition: ease-in-out .2s .4s;
    
    span {
      transition: all 0.2s $cubic-bezier;
      top: 0;
      left: 0;

      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        background: $gold;
        transition: transform 0.2s $cubic-bezier;
      }

      // Left & Right Border
      &:first-child {
        height: 100%;

        &::before, &::after {
          width: 1px;
          height: 100%;
          bottom: 0;
          transform: scale3d(1, 0 , 1);
          transform-origin: bottom center;
          transition: transform 0.2s $cubic-bezier 0.2s, background 0.2s $cubic-bezier 0s;
        }
        
        &::before { left: 0;  }
        &::after  { right: 0; }
      }

      // Top Borders
      &:last-child {
        width: 100%;
        height: 1px;

        // Scale them down with scale3d to prevent jittering
        &::before, &::after {
          height: 1px;
          width: 100%;
          bottom: 0;
          transform: scale3d(0, 1 , 1);
          transition: transform 0.2s $cubic-bezier 0s, background 0.2s $cubic-bezier 0s;
        }
        &::before {
          left: 0;
          transform-origin: bottom left;
        }

        &::after  {
          right: 0;
          transform-origin: bottom right;
        }
      }
    }

    &::after {
      content: '';
      width: calc(100% - 40px);
      height: 1px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: width 0.2s $cubic-bezier 0.4s, background 0.2s $cubic-bezier 0s;
      display: block;
      position: absolute;
      background: $gold;
    }

    // The Magic! Animate Border Drawing on Hover
    &:hover {
      opacity: 1;
      outline: 0;
      color: $gold;
      text-decoration: none;
      transition: color 0.2s $cubic-bezier 0s;

      /* Positioning */
      &::after {
        width: 100%;
        background: $gold;
        transition: width 0.2s $cubic-bezier 0s, background 0.2s $cubic-bezier 0s,color .2s .4s;
      }

      span {

        &:first-child {
          // The scale3d is what grows the element
          &::before, &::after {
            transform: scale3d(1, 1, 1);
            background: $gold;
            transition: transform 0.2s $cubic-bezier 0.2s, background 0.2s $cubic-bezier 0s, color .2s .4s;
          }
        }

        &:last-child {
          &::before, &::after {
            transform: scale3d(1, 1, 1);
            background: $gold;
            transition: transform 0.2s $cubic-bezier 0.4s, background 0.2s $cubic-bezier 0s, color .2s .4s;
          }
        }
      }
    }
  }
}

    